@import "assets/font/Font";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mtg-container {
  height: 100vh;
  background-color: #000000;
  font-family: "MTG";
  padding: 20px 10px;

  @media (max-width: 720px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.mtg-title {
  color: #d8dcdd;
  text-align: center;
  margin-top: 20px;

  @media (max-width: 720px) {
    display: none;
  }
}
.mtg-life-counter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &:first-of-type {
    @media (max-width: 720px) {
      transform: rotate(180deg);
      margin-bottom: 0;
    }
  }

  &:last-child {
    border-top: 1px solid #d8dcdd;
    margin-bottom: 0;
  }
}

.mtg-player-name {
  background-color: #000000;
  border: none;
  color: wheat;
  font-family: "MTG";
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  outline: none;
  padding: 10px 15px 15px;
  border-radius: 52px;

  &:focus {
    animation: pulse-focus 2s infinite;
  }
}

.mtg-life-counter {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.mtg-life-counter-value {
  font-size: 100px;
  color: #d8dcdd;
  padding: 0 20px;
  text-align: center;

  &.--increase {
    animation: increase 200ms ease-in-out both;
  }

  &.--decrease {
    animation: decrease 200ms ease-in-out both;
  }
}

.mtg-life-counter-button {
  width: 100%;
  height: 100%;
  color: #d8dcdd;
  font-family: "MTG";
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 40px;
  border-radius: 100%;
  max-width: 100px;

  &:active {
    animation: pulse 200ms cubic-bezier(0.66, 0, 0, 1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(216, 220, 221, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 10px 20px rgba(216, 220, 221, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(216, 220, 221, 0);
  }
}

@keyframes pulse-focus {
  0% {
    box-shadow: 0 0 0 0 rgba(216, 220, 221, 0.7);
  }

  70% {
    box-shadow: 0 0 10px 20px rgba(216, 220, 221, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(216, 220, 221, 0);
  }
}

@keyframes increase {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: green;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes decrease {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
    color: red;
  }
  100% {
    transform: scale(1);
  }
}
