@import "assets/font/Font";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  background-color: #000000;
}

.mtg-container {
  height: 100vh;
  background-color: #000000;
  font-family: "MTG";
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 720px) {
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
  }
}

.mtg-title {
  color: #d8dcdd;
  text-align: center;
  margin-top: 20px;

  @media (max-width: 720px) {
    display: none;
  }
}
.mtg-life-counter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &.--red-deck {
    background-image: linear-gradient(to bottom, #000000, #f9aa8f);
  }

  &.--blue-deck {
    background-image: linear-gradient(to bottom, #000000, #aae0fa);
  }

  &.--black-deck {
    background-image: linear-gradient(to bottom, #000000, #cbc2bf);
  }

  &.--white-deck {
    background-image: linear-gradient(to bottom, #000000, #fffbd5);
  }

  &.--green-deck {
    background-image: linear-gradient(to bottom, #000000, #9bd3ae);
  }

  &:first-of-type {
    @media (max-width: 720px) {
      transform: rotate(180deg);
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.mtg-divisor {
  height: 1px;
  background-color: #d8dcdd;
  width: 100%;
}

.mtg-player-name {
  background-color: transparent;
  border: none;
  color: wheat;
  font-family: "MTG";
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  outline: none;
  padding: 10px 15px 15px;
  border-radius: 52px;

  &:focus {
    animation: pulse-focus 2s infinite;
  }
}

.mtg-life-counter {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.mtg-life-counter-value {
  font-size: 100px;
  color: #d8dcdd;
  padding: 0 20px;
  text-align: center;

  &.--increase {
    animation: increase 200ms ease-in-out both;
  }

  &.--decrease {
    animation: decrease 200ms ease-in-out both;
  }
}

.mtg-life-counter-button {
  width: 100%;
  height: 100%;
  color: #d8dcdd;
  font-family: "MTG";
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 40px;
  border-radius: 100%;
  max-width: 100px;

  &:active {
    animation: pulse 200ms cubic-bezier(0.66, 0, 0, 1);
  }
}

.mtg-deck-color-container {
  height: 8.375rem;
  position: relative;
  width: 100%;
  max-height: 8.375rem;
  display: flex;
  justify-content: center;

  @media (min-width: 721px) {
    display: none;
  }

  @media (max-height: 628px) {
    display: none;
  }
}

.mtg-deck-color {
  font-family: "MTG";
  color: #d8dcdd;
  text-align: center;
  background-color: #000000;
  text-transform: uppercase;
  border-top: 1px solid #d8dcdd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-left: 1px solid #d8dcdd;
  border-right: 1px solid #d8dcdd;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  padding-top: 10px;
  position: absolute;
  transition: 400ms;
  top: 75%;

  &.--opened {
    top: 0;
  }

  p {
    margin-bottom: 40px;
  }
}

.mtg-deck-color-options {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;

  li {
    button {
      background-color: transparent;
      width: 50px;
      height: 50px;
      outline: none;
      border: none;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(216, 220, 221, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 10px 20px rgba(216, 220, 221, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(216, 220, 221, 0);
  }
}

@keyframes pulse-focus {
  0% {
    box-shadow: 0 0 0 0 rgba(216, 220, 221, 0.7);
  }

  70% {
    box-shadow: 0 0 10px 20px rgba(216, 220, 221, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(216, 220, 221, 0);
  }
}

@keyframes increase {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: green;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes decrease {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
    color: red;
  }
  100% {
    transform: scale(1);
  }
}
