@import "assets/font/Font";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  background-color: #000000;
}

.mtg-life-counter {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.mtg-life-counter-value {
  font-size: 100px;
  color: #d8dcdd;
  padding: 0 20px;
  text-align: center;

  &.--increase {
    animation: increase 200ms ease-in-out both;
  }

  &.--decrease {
    animation: decrease 200ms ease-in-out both;
  }

  &.--lost {
    color: red;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(216, 220, 221, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 10px 20px rgba(216, 220, 221, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(216, 220, 221, 0);
  }
}

@keyframes increase {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: green;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes decrease {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
    color: red;
  }
  100% {
    transform: scale(1);
  }
}
