@import "assets/font/Font";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  background-color: #000000;
}

.mtg-container {
  height: 100vh;
  background-color: #000000;
  font-family: "MTG";
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 720px) {
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
  }
}

.mtg-title {
  color: #d8dcdd;
  text-align: center;
  margin-top: 20px;

  @media (max-width: 720px) {
    display: none;
  }
}
.mtg-life-counter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &.--red-deck {
    background-image: linear-gradient(to bottom, #000000, #f9aa8f);
  }

  &.--blue-deck {
    background-image: linear-gradient(to bottom, #000000, #aae0fa);
  }

  &.--black-deck {
    background-image: linear-gradient(to bottom, #000000, #cbc2bf);
  }

  &.--white-deck {
    background-image: linear-gradient(to bottom, #000000, #fffbd5);
  }

  &.--green-deck {
    background-image: linear-gradient(to bottom, #000000, #9bd3ae);
  }

  &:first-of-type {
    @media (max-width: 720px) {
      transform: rotate(180deg);
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.mtg-divisor {
  height: 1px;
  background-color: #d8dcdd;
  width: 100%;
}

.mtg-life-counter {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.mtg-life-counter-value {
  font-size: 100px;
  color: #d8dcdd;
  padding: 0 20px;
  text-align: center;

  &.--increase {
    animation: increase 200ms ease-in-out both;
  }

  &.--decrease {
    animation: decrease 200ms ease-in-out both;
  }

  &.--lost {
    color: red;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(216, 220, 221, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 10px 20px rgba(216, 220, 221, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(216, 220, 221, 0);
  }
}

@keyframes increase {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: green;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes decrease {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
    color: red;
  }
  100% {
    transform: scale(1);
  }
}
